html,
body,
.projects {
  height: 100%;
}

$animation01: 1500ms;
$animation02start: 100ms;

.landing-page {
  overflow: hidden;
  height: 100%;

  &__wallpaper {
    background-image: url("/images/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(20px);
    height: 100%;
    transform: scale(1.33) translate(0, 100px);

    // ANIMATION 01
    animation: blurAnimation $animation01 ease-out;
    animation-fill-mode: forwards;

    @keyframes blurAnimation {
      0% {
        filter: blur(20px);
        transform: scale(1.33) translate(0, 100px);
      }
      100% {
        filter: blur(0px);
        transform: scale(1) translate(0, 0);
      }
    }
  }

  &__window {
    background-color: #fff;
    width: 100%;
    height: 100%;
    transform: translate(0%, -20px) scale(0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease-out;

    //ANIMATION 02
    animation: slideIn 0.5s ease-out;
    animation-delay: $animation02start;
    animation-fill-mode: forwards;

    @keyframes slideIn {
      0% {
        transform: translate(0%, -20px) scale(0.8);
        opacity: 0;
      }
      100% {
        transform: translate(0%, -100%) scale(1);
        opacity: 1;
      }
    }
  }
}
