@import "../../utils/colors";

.message-box {
  align-items: center;
  background-color: $blue01;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  padding: 8px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;

  &__title {
    margin: 0 0 5px;
    text-align: center;
  }

  &__description {
    text-align: center;
  }
}
