/* COLORS */

$black01: rgba(40, 42, 54, 1);
$black02: rgba(33, 34, 44, 1);
$black03: rgba(53, 56, 70, 1);
$black04: rgba(52, 55, 70, 1);
$black05: rgba(14, 14, 14, 1);
$black06: rgba(60, 63, 79, 1);
$black07: rgba(65, 68, 74, 1);
$black08: rgba(105, 105, 105, 1);
$black09: rgba(27, 28, 39, 1);
$black10: rgba(40, 42, 54, 0.8);

$blue01: rgba(41, 119, 231, 1);
$blue02: rgba(41, 119, 231, 0.2);
$blue03: rgba(88, 98, 115, 1);
$blue04: rgba(89, 103, 147, 1);
$blue05: rgba(82, 110, 202, 1);
$blue06: rgba(131, 148, 201);
$blue07: rgba(98, 114, 164, 1);
$blue08: rgba(98, 114, 142, 1);

$white01: rgba(248, 248, 242, 1);
$white02: rgba(202, 202, 196, 1);

$purple01: rgba(85, 19, 95, 1);

$green01: rgba(34, 192, 55, 1);
$green02: rgb(39, 216, 62);

$yellow01: rgba(252, 178, 37, 1);
$yellow02: rgb(253, 187, 65);

$red01: rgba(254, 86, 75, 1);
$red02: rgb(252, 113, 103);
$red03: rgb(149, 56, 60);
