@import "../../utils/settings";
@import "../../utils/colors";

.window {
  background-color: $black10;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(40, 42, 54, 0.58);
  height: 100%;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-out;
  width: 100%;
  z-index: 1;

  //ANIMATION 02
  animation: slideIn 0.5s ease-out;
  animation-delay: $animation02start;
  animation-fill-mode: forwards;

  @keyframes slideIn {
    0% {
      transform: translate(0, -20px) scale(0.8);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
  }

  &__container {
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }

  &__top {
    align-items: center;
    background-color: $black02;
    display: flex;
    justify-content: space-between;
    height: 26px;
    padding: 0 8px;
    width: calc(100% - 2 * 8px);
  }

  &__buttons {
    align-items: center;
    display: flex;
  }

  &__button {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 12px;
    margin: 0 8px 0 0;
    width: 12px;
    transition: all 100ms ease-out;

    &--close {
      background-color: $red01;

      &:hover {
        background-color: $red02;
      }
    }

    &--resize {
      background-color: $green01;

      &:hover {
        background-color: $green02;
      }
    }

    &--minimize {
      background-color: $yellow01;

      &:hover {
        background-color: $yellow02;
      }
    }
  }

  &__title {
    color: $white02;
    text-align: center;
    width: 100%;
  }

  &__bottom {
    background-color: $purple01;
    height: 20px;
    width: 100%;
  }

  &__inner-box {
    height: 100%;
    min-height: 500px;
    overflow-y: auto;
    width: 100%;

    /* width */
    &::-webkit-scrollbar {
      width: 10px;
      background: $black09;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $black09;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $black08;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb :hover {
      background: #383838;
    }

    &::-webkit-scrollbar-corner {
      background: #4c89e4;
    }
  }

  &--not-found .window {
    &__bottom {
      background-color: #ddd;
    }
  }
}
